.menu__item {
  position: relative; }
  .menu__item--inner:hover .menu__inner {
    opacity: 1;
    height: 107px; }

.menu__inner {
  width: auto;
  position: absolute;
  top: 100%;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  background-color: #e5e5e5;
  z-index: 10;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .menu__inner .menu__item {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #000; }
    .menu__inner .menu__item:last-child {
      border-bottom: none; }
    .menu__inner .menu__item .menu__link {
      width: 100%;
      padding: 0 15px;
      text-align: center; }
    .menu__inner .menu__item:hover {
      background-color: #fff; }

.popup--order {
  text-align: center; }
  .popup--order form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .popup--order .popup__title {
    font-size: 18px;
    font-weight: 700; }
  .popup--order .popup__wrap {
    margin-bottom: 15px; }
  .popup--order .popup__select {
    display: none; }
  .popup--order .button_regist {
    margin-bottom: 5px;
    padding: 3px 0;
    color: #000; }
    .popup--order .button_regist--disabled {
      color: #ddd; }
      .popup--order .button_regist--disabled:hover {
        background-color: #ccc;
        color: #ddd; }
  .popup--order .popup__input,
  .popup--order .popup__textarea {
    padding: 8px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #000;
    border: 1px solid #ddd; }
    .popup--order .popup__input::-webkit-input-placeholder,
    .popup--order .popup__textarea::-webkit-input-placeholder {
      color: #ddd; }
    .popup--order .popup__input::-ms-input-placeholder,
    .popup--order .popup__textarea::-ms-input-placeholder {
      color: #ddd; }
    .popup--order .popup__input::placeholder,
    .popup--order .popup__textarea::placeholder {
      color: #ddd; }
  .popup--order .popup__input {
    margin-top: 10px;
    margin-bottom: 15px; }
  .popup--order .popup__textarea {
    margin-top: 0;
    margin-bottom: 18px;
    height: 100px; }

.jq-selectbox__select {
  padding: 0;
  height: 24px;
  background: none;
  background-image: none;
  background-color: #e5e5e5;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; }

.jq-selectbox .placeholder {
  color: #000; }

.jq-selectbox li {
  padding: 0;
  color: #000; }
  .jq-selectbox li:hover {
    background-color: #bbb;
    color: #000; }
  .jq-selectbox li.selected {
    color: #fff; }
    .jq-selectbox li.selected:hover {
      background-color: #ddd;
      color: #fff; }

.jq-selectbox.focused .jq-selectbox__select {
  border: none; }

.jq-selectbox__trigger {
  display: none; }

.jq-selectbox__dropdown {
  position: relative;
  margin-bottom: 15px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  max-height: 100px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  .jq-selectbox__dropdown ul {
    overflow: hidden; }

.jq-selectbox li.selected {
  background-color: #ddd; }

.jq-selectbox__select-text {
  padding-left: 0;
  text-align: left;
  background-color: #fff;
  outline: none;
  border: none; }
