.popup--order {
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .popup__title {
    font-size: 18px;
    font-weight: 700;
  }

  .popup__wrap {
    margin-bottom: 15px;
  }

  .popup__select {
    display: none;
  }

  .button_regist {
    margin-bottom: 5px;
    padding: 3px 0;
    color: #000;

    &--disabled {
      color: #ddd;

      &:hover {
        background-color: #ccc;
        color: #ddd;
      }
    }
  }

  .popup__input,
  .popup__textarea {
    padding: 8px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #000;
    border: 1px solid #ddd;

    &::placeholder {
      color: #ddd;
    }
  }

  .popup__input {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .popup__textarea {
    margin-top: 0;
    margin-bottom: 18px;
    height: 100px;
  }
}
